@charset 'utf-8';

/* sec01 스타일 */
.sec01 .container .tit{position:relative; font-weight:600; font-size:20px; padding:29px 0 29px;}
.sec01 .container .sec01-nav ul{display:flex; position:absolute; left:144px; top:32px; font-weight:600; font-size:16px;}
.sec01 .container .sec01-nav ul li{padding-right:8px;}
.swiper {position:static;}
.my-slider01 {width:1200px; margin:0 auto;}
.my-slider01 ul{display:grid; grid-template-columns:1fr 1fr 1fr 1fr 1fr; row-gap:15px; column-gap:42px;}
.my-slider01 img{width:240px - 33.6px;}
.my-slider01 p{margin-top:6px; text-align:center;}
.swiper-button-next:after, .swiper-button-prev:after{display:none;}
.my-slider01 .btn-move .prev{position:absolute; left:-170%; top:66%;}
.my-slider01 .btn-move .next{position:absolute; right:-170%; top:66%;}
.my-slider01 .btn-move img{width:40px;}
.my-slider01 .swiper-pagination{display:flex; justify-content:space-between; width:100px; position:absolute; left:45.8%;
    bottom:-15px;}
.swiper-pagination-bullet-active {background:#ff8a00;}

/* sec02 스타일 */
.sec02 .banner{margin:29px 0;}

/* sec03 스타일 */
.sec03 .chart-box .tit{display:flex;}
.sec03 .chart-box .tit h1{margin-bottom:36px; font-weight:600; font-size:20px;}
.sec03 .chart-box .tit img{width:21px; margin-left:10px;}
.sec03 .chart-box .date{position:absolute; left:53%; top:34px; font-size:12px;}
.sec03 .chart-box .chart{margin:-12px 0;}
.sec03 .chart-line{width:739px; height:2px; background:#ff8a00; text-indent:-9999px;}
.sec03 .chart-txt{padding:8px;}
.sec03 .chart-txt span{margin-right:10px;}
.sec03 .chart-txt span:last-child{position:absolute; left:40%;}
.sec03 .recom-album .tit{position:absolute; left:67%; top:0; font-weight:600; font-size:20px;}
.sec03 .recom-album .img-box{margin-left:15px;}
.sec03 .recom-album .img-box img{width:243px; margin-left:20px;}
.swiper02 {position:static;}
.my-slider02{width:307px; margin:-26% 0 0 70%; overflow:hidden;}
.my-slider02 .btn-move{position:absolute; top:50%;}
.my-slider02 .btn-move img{width:35px;}
.my-slider02 .prev{position:absolute; left:801px;}
.my-slider02 .next{position:absolute; left:-16px;}
.my-slider02 .swiper-pagination{display:flex; position:absolute; left:80.8%; top:80%;}
.my-slider02 .album-txt01{text-align:center; margin-top:10px;}
.my-slider02 .album-txt02{text-align:center;}

/* sec04 스타일 */
.sec04 .container::before{content:''; display:block; position:relative; left:0; top:110px; width:1200px; height:494px; 
    border-radius:18px; background:#ff8a00;}
.sec04 .container .tit{position:absolute; left:40px; top:155px; font-weight:600; font-size:26px; line-height:36px;}
.sec04 .ico-play{position:absolute; left:40px; top:281px;}
.sec04 .ico-play svg{width:60px; fill:#222;}
.sec04 .img-box{display:flex; flex-flow:row wrap; justify-content:space-between; width:872px; position:absolute;
    left:258px; top:137px;}
.sec04 .img-box img{width:189px;}
.sec04 .img-box p{text-align:center; margin-top:7px; margin-bottom:15px;}
.footer{margin-top:200px;}