@charset 'utf-8';

@font-face{font-family:'pretendard'; src:url(../fonts/Pretendard.ttf);}

:root{font-family:'pretendard';font-weight:400; font-size:18px; color:#222;}

.container{position:relative; width:1200px; margin:0 auto;}
.header .container{margin:43px auto 0;}
.header .logo{width:108px; margin:66px 0;}
.search-box #box{width:476px; height:72px; border:5px solid #ff8a00; border-radius:40px; position:absolute; 
    left:150px; top:29px; z-index:1;}
.search-box #box::placeholder{position:absolute; left:26px; top:20px; font-family:'pretendard'; font-weight:300; font-size:18px;}
.ico-search svg{fill:#ff8a00; width:30px; height:30px; position:absolute; left:564px; top:50px; z-index:100;}
.main-nav ul{display:flex; justify-content:space-between; width:696px; margin:54px 0 0; font-weight:600; font-size:20px;}
.sub-nav01 ul{display:flex; position:absolute; right:0; top:0; font-weight:500; font-size:20px;}
.sub-nav01 ul li:first-child{margin-right:23px;}
.sub-nav02 ul{display:flex; position:absolute; left:665px; top:56px; font-weight:500; font-size:20px;}
.sub-nav02 ul li a:nth-child(1){margin-right:61px;}
.sub-nav02 .ico-ticket{width:30px; position:absolute; left:61px; top:-3px;}
.sub-nav02 .ico-mybox{width:28px; position:absolute; left:174px; top:-3px;}
.studio{display:flex; position:absolute; right:41px; bottom:29px; font-weight:600; font-size:20px;}
.studio .ico-studio{width:30px; position:absolute; left:115px; top:-4px;}
.header .line{margin-top:29px; width:100%; height:4px; background:#ff8a00;}
.header a:hover,.sec01-nav ul li:nth-child(1):hover,
.sec01-nav ul li:nth-child(3):hover,.sec01-nav ul li:nth-child(5):hover{color:#ff8a00;}

.sec01 .container .tit{position:relative; font-weight:600; font-size:20px; padding:29px 0 29px;}
.sec01 .container .sec01-nav ul{display:flex; position:absolute; left:144px; top:32px; font-weight:600; font-size:16px;}
.sec01 .container .sec01-nav ul li{padding-right:8px;}
.swiper {position:static;}
.my-slider01 {width:1200px; margin:0 auto;}
.my-slider01 ul{display:grid; grid-template-columns:1fr 1fr 1fr 1fr 1fr; row-gap:15px; column-gap:42px;}
.my-slider01 img{width:240px - 33.6px;}
.my-slider01 p{margin-top:6px; text-align:center;}
.swiper-button-next:after, .swiper-button-prev:after{display:none;}
.my-slider01 .btn-move .prev{position:absolute; left:-170%; top:66%;}
.my-slider01 .btn-move .next{position:absolute; right:-170%; top:66%;}
.my-slider01 .btn-move img{width:40px;}
.my-slider01 .swiper-pagination{display:flex; justify-content:space-between; width:100px; position:absolute; left:45.8%;
    bottom:-15px;}
.swiper-pagination-bullet-active {background:#ff8a00;}

.sec02 .banner{margin:29px 0;}

.sec03 .chart-box .tit{display:flex;}
.sec03 .chart-box .tit h1{margin-bottom:36px; font-weight:600; font-size:20px;}
.sec03 .chart-box .tit img{width:21px; margin-left:10px;}
.sec03 .chart-box .date{position:absolute; left:53%; top:34px; font-size:12px;}
.sec03 .chart-box .chart{margin:-12px 0;}
.sec03 .chart-line{width:739px; height:2px; background:#ff8a00; text-indent:-9999px;}
.sec03 .chart-txt{padding:8px;}
.sec03 .chart-txt span{margin-right:10px;}
.sec03 .chart-txt span:last-child{position:absolute; left:40%;}
.sec03 .recom-album .tit{position:absolute; left:67%; top:0; font-weight:600; font-size:20px;}
.sec03 .recom-album .img-box{margin-left:15px;}
.sec03 .recom-album .img-box img{width:243px; margin-left:20px;}
.swiper02 {position:static;}

.my-slider02{width:307px; margin:-26% 0 0 70%; overflow:hidden;}
.my-slider02 .btn-move{position:absolute; top:50%;}
.my-slider02 .btn-move img{width:35px;}
.my-slider02 .prev{position:absolute; left:801px;}
.my-slider02 .next{position:absolute; left:-16px;}
.my-slider02 .swiper-pagination{display:flex; position:absolute; left:80.8%; top:80%;}
.my-slider02 .album-txt01{text-align:center; margin-top:10px;}
.my-slider02 .album-txt02{text-align:center;}

.sec04 .container::before{content:''; display:block; position:relative; left:0; top:110px; width:1200px; height:494px; 
    border-radius:18px; background:#ff8a00;}
.sec04 .container .tit{position:absolute; left:40px; top:155px; font-weight:600; font-size:26px; line-height:36px;}
.sec04 .ico-play{position:absolute; left:40px; top:281px;}
.sec04 .ico-play svg{width:60px; fill:#222;}
.sec04 .img-box{display:flex; flex-flow:row wrap; justify-content:space-between; width:872px; position:absolute;
    left:258px; top:137px;}
.sec04 .img-box img{width:189px;}
.sec04 .img-box p{text-align:center; margin-top:7px; margin-bottom:15px;}

.footer .container::before{content:''; display:block; width:100%; height:218px; background:#444;
    position:absolute; left:0; top:211px;}
.footer .container p{position:absolute; left:40px; top:242px; font-weight:500; color:#fff;}
.footer .footer01 address{position:absolute; left:40px; top:290px; line-height:28px; font-weight:500; color:#fff;}
.footer .footer02 p{position:absolute; left:1005px; top:235px; text-align:center; line-height:35px;}
.footer .footer02::before{content:''; display:block; width:2px; height:218px; background:#000;
    position:absolute; left:872px; top:211px;}
.footer .footer02 .sns{display:flex; justify-content:space-between; width:191px; position:absolute; left:940px; top:352px;}
.footer .footer02 .sns img{width:44px;}
.footer .footer02 .sns02 img{width:50px; margin-top:-3px;}
.footer .footer02 .sns svg{fill:#fff; width:48px; margin-top:1px;}