@charset 'utf-8';

.sec .container{width:1200; margin:32px auto; margin-bottom:130px;}
.sec-txt{display:flex; flex-flow:row wrap; width:1200px;}
.sec .tit{font-weight:700; font-size:30px; margin-right:33px;}
.tit-box{display:flex; font-size:16px; align-items:center; padding-bottom:34px; border-bottom:2px solid #ccc;}
.local-nav{display:flex; width:289px; justify-content:space-between;}
.local-nav li{width:93px; height:30px; border-radius:10px; background:#ff8a00; text-align:center; padding-top:7px;}
.local-nav li:nth-child(2){width:94px; background:#ccc;}
.local-nav li:nth-child(3){width:93px; background:#ccc;}
.sec-txt .box{width:382px; height:215px; border-radius:5px; background:#ccc; margin-top:47px; margin-right:26px;}
.box-flex{display:flex; width:352px; padding-left:20px; padding-top:14px;}
.sec-txt .box01{margin-right:0;}
.sec-txt .box img{width:150px; margin-right:35px;}
.sec-txt .txt-box p{font-size:16px;}
.sec-txt .txt-box p:nth-child(1){font-weight:600; padding-top:22px; line-height:22px;}
.sec-txt .txt-box p:nth-child(2){padding-top:38px;}
.sec-txt .txt-box01 p:nth-child(2){padding-top:60px;}